header {
    padding: 5px;
    display: flex;
}
.header {
    display: flex;
    text-align: center;
    background-color: #b1b1b1;
    font-family: Arial;
    color: rgb(0, 0, 0);


}

footer {
    padding: 10px;
    clear: both;
    display: flex;
    font-family: Arial;
    text-align: center;
    display: flex;
    background-color: #4989ff;
    color: beige;
    
}

.footerText {
    text-align: center;
    display: flex;
}
